html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fonts */

@font-face {
    font-family: "Poppins";
    src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
        url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
        url("../fonts/Poppins-SemiBold.woff") format("woff"),
        url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"),
        url("../fonts/Poppins-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/Poppins-SemiBoldItalic.woff") format("woff"),
        url("../fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Thin Italic"), local("Poppins-ThinItalic"),
        url("../fonts/Poppins-ThinItalic.woff2") format("woff2"),
        url("../fonts/Poppins-ThinItalic.woff") format("woff"),
        url("../fonts/Poppins-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Light Italic"), local("Poppins-LightItalic"),
        url("../fonts/Poppins-LightItalic.woff2") format("woff2"),
        url("../fonts/Poppins-LightItalic.woff") format("woff"),
        url("../fonts/Poppins-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Medium"), local("Poppins-Medium"),
        url("../fonts/Poppins-Medium.woff2") format("woff2"),
        url("../fonts/Poppins-Medium.woff") format("woff"),
        url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Regular"), local("Poppins-Regular"),
        url("../fonts/Poppins-Regular.woff2") format("woff2"),
        url("../fonts/Poppins-Regular.woff") format("woff"),
        url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Thin"), local("Poppins-Thin"),
        url("../fonts/Poppins-Thin.woff2") format("woff2"),
        url("../fonts/Poppins-Thin.woff") format("woff"),
        url("../fonts/Poppins-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"),
        url("../fonts/Poppins-MediumItalic.woff2") format("woff2"),
        url("../fonts/Poppins-MediumItalic.woff") format("woff"),
        url("../fonts/Poppins-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"),
        url("../fonts/Poppins-ExtraLight.woff2") format("woff2"),
        url("../fonts/Poppins-ExtraLight.woff") format("woff"),
        url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Black"), local("Poppins-Black"),
        url("../fonts/Poppins-Black.woff2") format("woff2"),
        url("../fonts/Poppins-Black.woff") format("woff"),
        url("../fonts/Poppins-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"),
        url("../fonts/Poppins-BoldItalic.woff2") format("woff2"),
        url("../fonts/Poppins-BoldItalic.woff") format("woff"),
        url("../fonts/Poppins-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"),
        url("../fonts/Poppins-ExtraBold.woff2") format("woff2"),
        url("../fonts/Poppins-ExtraBold.woff") format("woff"),
        url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"),
        url("../fonts/Poppins-ExtraBoldItalic.woff2") format("woff2"),
        url("../fonts/Poppins-ExtraBoldItalic.woff") format("woff"),
        url("../fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Black Italic"), local("Poppins-BlackItalic"),
        url("../fonts/Poppins-BlackItalic.woff2") format("woff2"),
        url("../fonts/Poppins-BlackItalic.woff") format("woff"),
        url("../fonts/Poppins-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins ExtraLight Italic"), local("Poppins-ExtraLightItalic"),
        url("../fonts/Poppins-ExtraLightItalic.woff2") format("woff2"),
        url("../fonts/Poppins-ExtraLightItalic.woff") format("woff"),
        url("../fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Bold"), local("Poppins-Bold"),
        url("../fonts/Poppins-Bold.woff2") format("woff2"),
        url("../fonts/Poppins-Bold.woff") format("woff"),
        url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Italic"), local("Poppins-Italic"),
        url("../fonts/Poppins-Italic.woff2") format("woff2"),
        url("../fonts/Poppins-Italic.woff") format("woff"),
        url("../fonts/Poppins-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins Light"), local("Poppins-Light"),
        url("../fonts/Poppins-Light.woff2") format("woff2"),
        url("../fonts/Poppins-Light.woff") format("woff"),
        url("../fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Main syles */

* {
    font-family: "Poppins", sans-serif !important;
}
nav,
footer {
    background-color: #0c4068 !important;
}
a {
    text-decoration: none;
    color: #f2f7f9;
}
.navbar-toggler {
    padding: 6px 12px 2px 12px;
    border: 1px solid rgb(242, 157, 57);
}
.navbar-toggler:focus {
    box-shadow: none;
}
.header__nav-burger-toggler {
    background-image: url("../assets/header__burger-truck.svg");
}
.container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
}
.header__nav-list {
    margin-left: 10%;
}
.header__logo-img {
    width: 118px;
}
.header__get-a-quote > a {
    background-color: #ffd050;
    color: #0c4068;
    padding: 4px 28px 2px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
}
.header__links-style {
    color: #f2f7f9;
    transition: ease-in-out 0.5s;
}
.header__links-style:hover {
    color: #ffd050;
    transition: 0.5s;
}
.header__phone-call-icon {
    width: 22px;
}

/* Banner styles */

.banner__calculate-form {
    position: relative;
    animation: slide-in 2s ease-in-out;

    min-height: 600px;
    max-width: 420px;
    width: 100%;
    background-color: white;
    margin-top: 40px;
    border-radius: 32px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(25%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner__calculate-title {
    border-radius: 30px 30px 0 0;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #0c4068;
    border: none;
}
.banner__calculate-title > h2 {
    font-size: 32px;
    text-align: center;
    color: white;
    font-weight: 600;
}

.banner__calculate-sub {
    max-width: 82%;
    margin: -20px auto 32px;
    background-color: #1e88e5;
    border-radius: 30px;
    padding: 10px;
}
.banner__calculate-sub > p {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.banner__form-container > form > div {
    width: 80%;
    margin: 0 auto 30px;
}
.banner__form-container > form > div > input {
    padding: 6px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: rgb(234, 234, 234);
}
.banner__input::placeholder {
    padding-left: 8px;
}
.banner__calculate-label {
    font-weight: 600;
    margin-bottom: 8px;
}
.banner__calculate-submit {
    text-align: center;
}
.banner__calculate-submit > button {
    border: none;
    background-color: #ffd050;
    font-size: 24px;
    font-weight: 600;
    color: #0c4068;
    padding: 12px 18px 8px;
    border-radius: 20px;
}
.banner__left-part,
.banner__right-part {
    width: 50%;
}
.banner {
    background-image: url("../assets/banner_bg-low.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}
.banner__title {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.banner__text {
    display: flex;
    justify-content: center;
}
.banner__title > h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    max-width: 80%;
    line-height: 64px;
}
.banner__text > p {
    color: white;
    max-width: 80%;
    line-height: 30px;
}
.banner__title > h1 > span {
    color: #1e88e5;
    position: relative;
    animation: slide-in 2s ease-in-out;
}

/* Logos styles */

.logos {
    background-color: #f2f7f9;
    margin-bottom: 80px;
}
.logos__wrapper {
    width: 50%;
    margin-top: 26px;
    margin-bottom: 20px;
}
/* Styles for about */

.about__left-part,
.about__right-part {
    width: 50%;
}
.about__right-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about {
    background-image: url("../assets/about-half-square.png");
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
.about__wrapper {
    margin-bottom: 70px;
    margin-top: 50px;
}
.about__title > h2 {
    font-size: 48px;
    font-weight: 700;
}
.about__line {
    background-color: #1e88e5;
    height: 6px;
    max-width: 300px;
    border-radius: 20px;
}
.about__text > p {
    font-size: 18px;
    line-height: 30px;
}
.about__sub-line {
    height: 100%;
    width: 4px;
    border-radius: 20px;
    background-color: rgb(242, 157, 57);
}
.about__sub-text > h3 {
    font-weight: 700;
    color: #0c4068;
    line-height: 24px;
}
/* Styles for feedback */

.feedback {
    background-color: #f2f7f9;
    margin-bottom: 40px;
}
.feedback__wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}
.feedback__title-description {
    margin-bottom: 160px;
}
.feedback__review {
    border: 1px solid transparent;
    width: 32%;
    border-radius: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.feedback__review-description {
    margin-bottom: 40px;
}
.feedback__review-description > p {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
}
.feedback__review-name {
    margin-bottom: 40px;
}
.feedback__review-name > h4 {
    margin: 0 auto;
    text-align: center;
    color: #1e88e5;
    font-weight: 600;
    font-size: 18px;
}
.feedback__review-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    border-radius: 50%;
    height: 220px;
    width: 220px;
    background-color: #ffd050;
    margin: -90px auto 40px;
}
.feedback__nest-content-avatar {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: #0c4068;
}

/* Styles for Services */

.services {
    margin-bottom: 60px;
}
.services__wrapper {
    gap: 36px;
}
.feedback__title > h3,
.services__title > h3 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.feedback__line,
.services__line {
    height: 6px;
    border-radius: 12px;
    background-color: #1e88e5;
    width: 32%;
    margin: 0 auto;
}
.feedback__description > p,
.services__description > p {
    text-align: center;
    margin: 0 auto;
    width: 76%;
    line-height: 34px;
    font-size: 18px;
}
.services__features-card-sub > h4 {
    padding: 12px 50px 6px;
    width: 100%;
    background-color: #1e88e5;
    color: #f2f7f9;
    font-size: 24px;
    font-weight: 600;
    border-radius: 20px;
}

.services__features-card {
    gap: 30px;
}

/* Styles for Solutions */

.solutions {
    background-image: url("../assets/services__bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.solutions__wrapper {
    margin-top: 60px;
    margin-bottom: 50px;
}
.solutions__quote-sub {
    margin-bottom: 30px;
}
.solutions__quote-sub > p {
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
}

.solutions__quote-btn > a {
    margin: 0 auto;
    text-align: center;
    padding: 16px 0 10px;
    background-color: #ffd050;
    color: #0c4068;
    border-radius: 28px;
    font-size: 32px;
    font-weight: 600;
    max-width: 400px;
    width: 100%;
}

/* Movers Styles */

.movers {
    background-color: #f2f7f9;
}
.movers__wrapper {
    margin-top: 40px;
    margin-bottom: 60px;
}

.movers__description-title > h3 {
    font-size: 48px;
    font-weight: 600;
}
.movers__description-line {
    border-radius: 24px;
    height: 8px;
    width: 48%;
    background-color: #ffd050;
}
.movers__description-left {
    gap: 20px;
    max-width: 50%;
}
.movers__description-right {
    width: 50%;
    display: flex;
    justify-content: end;
}
.movers__description-right > img {
    width: 70%;
}
.movers__description-text > p {
    max-width: 90%;
    line-height: 28px;
    font-size: 16px;
}

.movers__list-card {
    justify-content: space-between;
    border: 1px solid #0c4068;
    border-radius: 8px;
    padding: 16px;
}
.movers__list-name > h3 {
    font-size: 24px;
    font-weight: 600;
    color: #0c4068;
}
.movers__list-btn {
    border-radius: 50%;
    padding: 10px;
    background-color: #bac1c7;
}
.movers__list-btn > svg {
    fill: #1e88e5;
}

.movers__list-left,
.movers__list-mid,
.movers__list-right {
    gap: 30px;
}
.movers__list-left > a,
.movers__list-mid > a,
.movers__list-right > a {
    transition: ease-in-out 0.6s;
    border-radius: 8px;
}
.movers__list-left > a:hover,
.movers__list-mid > a:hover,
.movers__list-right > a:hover {
    transition: 0.6s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.movers__list-part > div {
    width: 26%;
}
.movers__wrapper {
    gap: 40px;
}
/* Footer Styles */

.footer__left-part {
    gap: 20px;
}

.footer__wrapper {
    padding-top: 40px;
    padding-bottom: 100px;
}

.footer__logo > img {
    margin-left: -10px;
    width: 240px;
}
.footer__address {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer__address > p {
    color: #f2f7f9;
    font-size: 14px;
}

.footer__phone-icon > img {
    width: 30px;
}
.footer__phone-number > span {
    font-size: 24px;
    font-weight: 500;
}
.footer__get-quick-quote > a {
    padding: 12px 24px;
    background-color: #ffd050;
    color: #0c4068;
    border-radius: 28px;
    font-size: 18px;
    font-weight: 600;
}
.footer__mid-part {
    margin-bottom: -100px;
    gap: 58px;
}
.footer__social-networks {
    width: 100%;
}
.footer__icon-soc > img {
    width: 36px;
}
.footer__yellow-line {
    border-radius: 10px;
    height: 3px;
    width: 108px;
    background-color: #ffd050;
}
.footer__right-part {
    gap: 24px;
    margin-bottom: -80px;
}
.footer__title-posts > h4 {
    font-size: 20px;
    font-weight: 700;
    color: #f2f7f9;
}
.footer__list-posts > ul {
    gap: 20px;
}
.footer__list-posts > ul > li > a {
    text-decoration: underline;
    font-size: 12px;
}
/* Media Queries */

@media (max-width: 1290px) {
    .header__nav-list {
        margin-left: 4%;
    }
    .services__features-card-sub > h4 {
        padding: 12px 24px 6px;
    }
}
@media (max-width: 1218px) {
    .header__nav-list {
        margin-left: 0;
    }
}

@media (max-width: 1200px) {
    .movers__list-part > div {
        width: 32%;
    }
    .solutions__quote-btn > a {
        width: 24%;
    }
}

@media (max-width: 1180px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__nav-list {
        gap: 0 !important;
    }
    .header__get-a-quote > a {
        padding: 4px 14px 4px;
        font-size: 14px;
    }
    .header__panel-btn-call {
        gap: 2px !important;
    }

    .banner {
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: cover;
        height: 500px;
    }
    .services__features {
        flex-direction: column;
        gap: 30px;
    }
    .about__wrapper {
        flex-direction: column;
        gap: 90px;
    }
    .about__left-part,
    .about__right-part {
        width: 100%;
    }
    .about__left-part {
        display: flex;
        justify-content: center;
    }
    .about__right-part {
        gap: 20px;
    }
    .about__title > h2 {
        text-align: center;
    }
    .about__text > p,
    .about__sub-text > h3 {
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }
    .about__line {
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 992px) {
    .header {
        background-color: #0c4068;
    }
    .header__panel-btn-call {
        padding-bottom: 10px;
    }
    .header__panel-btn-call {
        justify-content: space-between;
    }
    .banner__wrapper {
        flex-direction: column;
    }
    .logos__wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        gap: 20px;
    }
    .banner__left-part,
    .banner__right-part {
        width: 100%;
    }
    .banner__title {
        margin-top: 30px;
    }
    .banner__title > h1 {
        font-size: 32px;
        line-height: 32px;
    }
    .banner__text > p {
        font-size: 24px;
    }
    .banner__text > p,
    .banner__title > h1 {
        text-align: center;
    }
    .logos {
        margin-bottom: 220px;
    }
    .movers__list-part {
        flex-direction: column;
        gap: 30px;
    }
    .movers__list-part > div {
        width: 100%;
    }
    .footer__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .footer__right-part,
    .footer__mid-part {
        margin-bottom: 0;
    }
    .footer__left-part {
        gap: 30px;
    }
    .footer__address > p {
        text-align: center;
    }
    .footer__logo > img {
        margin-left: 0;
    }
    .footer__wrapper {
        padding-bottom: 40px;
    }
    .solutions__quote-btn > a {
        width: 44%;
    }
    .feedback__clients-reviews {
        flex-direction: column;
        gap: 140px;
    }
    .feedback__review {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .logos__wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        gap: 20px;
    }
    .movers__description-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .movers__description-right > img,
    .movers__description-right {
        width: 100%;
    }

    .movers__description-left {
        max-width: 100%;
    }
    .movers__description-title,
    .movers__description-line,
    .movers__description-text > p {
        margin: 0 auto;
    }
    .movers__description-title > h3,
    .movers__description-text > p {
        text-align: center;
    }
    .feedback__review {
        width: 90%;
    }
}

@media (max-width: 568px) {
    .banner {
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: cover;
        height: 400px;
        margin-bottom: 540px;
    }
    .logos {
        margin-bottom: 0;
    }
    .logos__wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        gap: 20px;
    }
    .banner__title > h1 {
        font-size: 24px;
        line-height: 32px;
    }
    .banner__text > p {
        font-size: 16px;
    }
    .solutions__quote-btn > a {
        width: 90%;
    }
    .about__left-part > img {
        width: 80%;
    }
    .about__wrapper {
        margin-top: 120px;
        gap: 140px;
        margin-bottom: 0;
    }
    .about {
        background-size: contain;
    }
    .feedback__wrapper {
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .feedback__title-description {
        margin-bottom: 116px;
    }
    .feedback__review {
        width: 100%;
    }
}

@media (max-width: 406px) {
    .banner {
        margin-bottom: 620px;
    }
}
